= full_ribbon do
  = ruby_gem
  \-
  = number_to_percentage ruby_gem.rating * 100, :precision => 2
  #votes
    = button_to 'Vote Up', up_ruby_gem_votes_path(ruby_gem), :remote => true, :class => 'small button'
    = button_to 'Vote Down', down_ruby_gem_votes_path(ruby_gem), :remote => true, :class => 'small button'
