- title 'All Gems'

%section
  = full_ribbon do 
    - if @tag
      Gems Tagged:
      = @tag
    - else
      All Gems

  %table#gems
    %th
      %tr
        %th Gem
        %th Description
        %th Rating
    %tbody
      - @ruby_gems.each do |ruby_gem|
        %tr
          %td.name= link_to ruby_gem, ruby_gem_path(ruby_gem)
          %td.description= truncate ruby_gem.description, :length => 75
          %td.rating= number_to_percentage ruby_gem.rating * 100, :precision => 1

  = will_paginate @ruby_gems
