- namespace = ruby_gem.name ? ruby_gem.name : ''

= semantic_form_for [:user, ruby_gem], :namespace => namespace, :remote => true, :html => {:class => namespace}  do |form|
  = form.inputs do
    = form.input :name, :input_html => {:class => 'name'}
    = form.input :description
    = form.input :homepage
    = form.input :tag_list, :collection => available_tags, :as => :check_boxes

  = form.buttons do 
    = form.commit_button
