- namespace = ruby_gem.name ? ruby_gem.name : ''

= semantic_form_for [:user, ruby_gem], :namespace => namespace, :remote => true, :html => {:class => namespace}  do |form|
  = form.inputs do
    = form.input :name, :input_html => {:class => 'name'}
    = form.input :description
    = form.input :github_url, :label => "Github URL"
    = form.input :tag_list, :collection => available_tags, :as => :check_boxes

  = form.inputs do 
    = form.input :number_of_open_issues, :as => :hidden
    = form.input :number_of_closed_issues, :as => :hidden
    = form.input :number_of_open_pull_requests, :as => :hidden
    = form.input :number_of_closed_pull_requests, :as => :hidden
    = form.input :has_readme, :as => :hidden
    = form.input :has_license, :as => :hidden
    = form.input :has_tests, :as => :hidden
    = form.input :has_features, :as => :hidden
    = form.input :has_examples, :as => :hidden

  = form.buttons do 
    = form.commit_button
