- title 'What.RubyGems.org'

= link_to "Sign in with Github", user_omniauth_authorize_path(:github)

%h2 Top Gems

%table#gems
  %tbody
    - @ruby_gems.each do |ruby_gem|
      %tr
        %td.name= link_to ruby_gem, ruby_gem_path(ruby_gem)
        %td.author= ruby_gem.user
        %td.rating= number_to_percentage ruby_gem.rating, :precision => 2
        %td.github= link_to_github ruby_gem
        %td.ruby_gems= link_to_ruby_gems ruby_gem
