!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'http://yui.yahooapis.com/2.8.2r1/build/reset/reset-min.css'
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
    = formtastic_stylesheet_link_tag
    = csrf_meta_tag
    = yield(:head)

  %body
    #container
      %header
        %h1= link_to 'WhatGem', '#'
        %nav
          = link_to 'Home'
          = link_to 'Gems'
          = link_to 'Authors'
          = link_to 'Sign in with Github'
          = link_to 'logout'

      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      #page
        = yield

      %footer
        - link_to 'http://www.w3.org/html/logo/' do
          = image_tag "http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png", |
            :width => "165",  :height => "64", 
            :alt => "HTML5 Powered with CSS3 / Styling, and Semantics", 
            :title => "HTML5 Powered with CSS3 / Styling, and Semantics"
        %nav
          = link_to 'Source', 'https://github.com/Adman65/whatgem'
