!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'http://yui.yahooapis.com/2.8.2r1/build/reset/reset-min.css'
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield(:head)

  %body
    #container
      %header
        %h1= link_to 'WhatGem', root_path
        %nav
          = link_to 'Top', root_path
          = link_to 'Gems', ruby_gems_path
          - if !user_signed_in?
            = link_to user_omniauth_authorize_path(:github), :id => 'sign-in' do
              = image_tag 'github.ico'
              Sign in with Github
          - else
            = link_to 'Logout', destroy_user_session_path

      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      #page
        = yield

      %footer
        = html5_logo
        %nav
          = link_to 'Source', 'https://github.com/Adman65/whatgem'
